.footContainer {
    display: grid;
    grid-template-columns: 1fr repeat(3 1fr);
    grid-template-areas: "im dr ct sm";
    position: absolute;
    padding-top: 100px;
}

.footImage {
    grid-area: im;
}

.doormat {
    grid-area: dr;
}

.contact {
    grid-area: ct;
}

.socialMediaLinks {
    grid-area: sm;
}

ul li a{
    text-decoration: none;
    text-align: left;
    font-family: 'Karla', sans-serif;
}

