.footContainer {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: left;
    padding: 2em;
    width: 1000px;
}

.footImage {
    grid-area: im;
}

.doormat {
    grid-area: dr;
}

.contact {
    grid-area: ct;
}

.socialMediaLinks {
    grid-area: sm;
}

ul li a{
    text-decoration: none;
    text-align: left;
    font-family: 'Karla', sans-serif;
}

