.hero-container {
    display:grid;
    grid-template-areas: "mn mn mn mn mn mn"
                         "sp sp sp sp sp sp"
                         "rv rv rv rv rv rv"
                         "ab ab ab ab ab ab";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 612px 800px 500px;
  }  
  
  .hero {
    grid-area: mn;
  }

  .specials {
    grid-area: sp;
  }

  .about {
    grid-area: ab;
  }

  .reviews {
    grid-area: rv
  }