nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 200px;    
}

nav ul {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    
}

nav ul li{
    text-decoration: none;
    font-family: 'Karla', sans-serif;
}

